.container {
  width: 1170px; }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left; }

.col-lg-1 {
  width: 8.33333%; }

.col-lg-2 {
  width: 16.66667%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333%; }

.col-lg-5 {
  width: 41.66667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333%; }

.col-lg-8 {
  width: 66.66667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333%; }

.col-lg-11 {
  width: 91.66667%; }

.col-lg-12 {
  width: 100%; }

.col-lg-pull-0 {
  right: auto; }

.col-lg-pull-1 {
  right: 8.33333%; }

.col-lg-pull-2 {
  right: 16.66667%; }

.col-lg-pull-3 {
  right: 25%; }

.col-lg-pull-4 {
  right: 33.33333%; }

.col-lg-pull-5 {
  right: 41.66667%; }

.col-lg-pull-6 {
  right: 50%; }

.col-lg-pull-7 {
  right: 58.33333%; }

.col-lg-pull-8 {
  right: 66.66667%; }

.col-lg-pull-9 {
  right: 75%; }

.col-lg-pull-10 {
  right: 83.33333%; }

.col-lg-pull-11 {
  right: 91.66667%; }

.col-lg-pull-12 {
  right: 100%; }

.col-lg-push-0 {
  left: auto; }

.col-lg-push-1 {
  left: 8.33333%; }

.col-lg-push-2 {
  left: 16.66667%; }

.col-lg-push-3 {
  left: 25%; }

.col-lg-push-4 {
  left: 33.33333%; }

.col-lg-push-5 {
  left: 41.66667%; }

.col-lg-push-6 {
  left: 50%; }

.col-lg-push-7 {
  left: 58.33333%; }

.col-lg-push-8 {
  left: 66.66667%; }

.col-lg-push-9 {
  left: 75%; }

.col-lg-push-10 {
  left: 83.33333%; }

.col-lg-push-11 {
  left: 91.66667%; }

.col-lg-push-12 {
  left: 100%; }

.col-lg-offset-0 {
  margin-left: 0%; }

.col-lg-offset-1 {
  margin-left: 8.33333%; }

.col-lg-offset-2 {
  margin-left: 16.66667%; }

.col-lg-offset-3 {
  margin-left: 25%; }

.col-lg-offset-4 {
  margin-left: 33.33333%; }

.col-lg-offset-5 {
  margin-left: 41.66667%; }

.col-lg-offset-6 {
  margin-left: 50%; }

.col-lg-offset-7 {
  margin-left: 58.33333%; }

.col-lg-offset-8 {
  margin-left: 66.66667%; }

.col-lg-offset-9 {
  margin-left: 75%; }

.col-lg-offset-10 {
  margin-left: 83.33333%; }

.col-lg-offset-11 {
  margin-left: 91.66667%; }

.col-lg-offset-12 {
  margin-left: 100%; }

.visible-lg {
  display: block !important; }

table.visible-lg {
  display: table; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.visible-lg-block {
  display: block !important; }

.visible-lg-inline {
  display: inline !important; }

.visible-lg-inline-block {
  display: inline-block !important; }

.hidden-lg {
  display: none !important; }

.display_inline.aqua.top {
  margin-top: 20px; }

.adjust_search {
  margin-top: 22px; }

.search-query.form-control.top.adjust_input {
  max-width: 346px;
  margin-top: 22px; }

.search.text-nowrap .input-search {
  width: 160px;
  margin-left: 0px; }

.pos_petal {
  display: inline; }

.home_text {
  right: 42%; }

.petal_second {
  margin-left: -4%; }

.orange_grad .comp_teal {
  transform: scale(0.5);
  margin-left: -215px;
  margin-top: -270px; }

.btn-secondary {
  height: 33px;
  line-height: .4; }

.header_font_contacts {
  left: 10%;
  font-size: 1.6em; }

@media screen and (min-width: 1600px) {
  #y4y-home .logo_pos {
    transform: scale(1.5); }
  #y4y-home .header_font {
    font-size: 2.5em;
    margin-left: 65px; }

  .header_font_contacts {
    left: 6%;
    font-size: 2em; } }
.logo_pos {
  transform: scale(0.9);
  left: 4%;
  margin-top: -12%; }

.header_font {
  font-size: 1.4em; }

#y4y-home .doe-logo {
  margin-top: -25%; }

.img_header {
  margin-top: 0px; }

.logo_pos222 {
  top: 34px; }

.y4y-main-header .img-responsive {
  padding-top: 0; }

.navbar-default {
  font-size: 1.2em; }

.dropdown-menu .sub-menu {
  left: 99%; }

.navbar-default {
  font-size: 1.1em;
  max-height: 30px; }

.home_nav.navbar-default {
  max-height: none; }

.navbar-default {
  position: fixed !important; }

.y4y-main-header .header_font.sub {
  left: 61%;
  top: 40.5%;
  font-size: 1.3em; }

#y4y-home .y4y-main-header {
  margin-top: 0; }

/*# sourceMappingURL=large.css.map */
