.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

#y4y-home .doe-logo {
  transform: scale(0.5);
  margin-left: -27px;
  margin-top: -26px; }
#y4y-home .logo_home.logo_pos {
  margin-top: -25%;
  transform: scale(0.65);
  margin-left: -9%; }
#y4y-home .search.text-nowrap .input-search {
  margin-left: -20px; }

.header_font_contacts {
  left: 7%;
  font-size: .9em;
  margin-top: -26%; }

.doe-logo {
  transform: scale(0.4);
  margin-left: -2%;
  margin-top: -3%; }

a.leaf-btn {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  line-height: 60px; }

h2.aligning {
  margin-left: -2px; }

.display_inline > li {
  padding: 0px; }

.breadcrumb {
  margin-top: 10px;
  font-weight: normal; }

.display_inline.aqua:first-child:after {
  margin-left: 4px; }

.btn.btn-primary {
  width: 74px;
  font-size: .9em;
  margin-left: 12px; }

.adjust_input {
  margin-top: 8px; }

.search-query.form-control.top.adjust_input {
  max-width: 310px;
  margin-left: 10px; }

ol.display_inline.aqua.top {
  padding-left: 15px; }

h2 {
  font-size: 1.6em; }

h4 {
  padding-bottom: 20px; }

.head-icon h4 {
  font-size: 1.3em;
  padding-bottom: 0px;
  padding-top: 25px; }

.pos_side {
  margin-left: 20%; }

.last_footer {
  margin-bottom: 30px; }

.home_text {
  right: 40%; }

.petal_second {
  margin-left: 5%; }

.pos_petal {
  display: none; }

.vert_center {
  margin-top: 10%; }

@supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) and (not (-moz-appearance: none)) {
  .btn-clear.sub {
    left: -40px; } }
@media screen and (max-width: 600px) {
  h2.aligning:before {
    margin-top: 0px; }

  h2.aligning {
    padding-bottom: 20px; }

  .pos_side {
    margin-left: 15%; }

  #y4y-home .logo_pos {
    transform: scale(0.6);
    margin-left: -11%; }
  #y4y-home .search.text-nowrap .input-search {
    margin-left: -20px;
    width: 258px; }

  .header_font_contacts {
    margin-top: -19%;
    font-size: .7em;
    left: 11%; } }
@media screen and (max-width: 480px) {
  h2.aligning:before {
    margin-top: 0px; }

  h2.aligning {
    padding-bottom: 20px; }

  .pos_side {
    margin-left: auto; }

  .petal_second {
    /* transform: scale(.9);
     margin-left: -9%;*/
    margin: 0 auto;
    transform: scale(0.79);
    margin-left: -2%; }

  .home_text {
    font-size: 1.8em; }

  #y4y-home .logo_home.logo_pos {
    transform: scale(0.5);
    margin-left: -95px;
    margin-top: -35%; }

  .padding_home {
    padding-left: 0px; }

  .p_icon {
    display: block;
    margin: 0px; }

  .icon_pos img {
    padding-right: 13px; }

  .desc {
    padding: 0px 0px 20px 0px; }

  .fix_input_size_xs.input-search {
    width: 85%; }

  .header_font_contacts {
    margin-top: -18%;
    font-size: .6em;
    left: 5%; } }
.legend_box {
  margin-bottom: 30px !important; }

@supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) and (not (-moz-appearance: none)) {
  .btn-clear.sub {
    left: -37px; }

  .fix_input_size_xs.input-search {
    width: 90%; } }
.header_font {
  font-size: 1.3em;
  margin-top: 20px; }

.y4y-main-header .header_font.sub {
  font-size: 1em;
  top: 52%;
  left: 18px; }

#y4y-home .logo_home.logo_pos {
  margin-top: -46%;
  margin-left: -22px; }

.breadcrumb {
  padding-bottom: 0px; }

.logo_pos {
  margin-top: -240px;
  margin-left: -12px;
  transform: scale(0.8); }

#y4y-home .header_font {
  margin-top: -9px !important; }

#y4y-home .pos_button {
  margin-top: -22px;
  margin-left: -20px; }

@media screen and (max-width: 600px) {
  .logo_pos {
    transform: scale(0.7);
    margin-left: -34px;
    margin-top: -210px; }

  #y4y-home .header_font {
    font-size: 1.1em !important; }

  .y4y-main-header .header_font.sub {
    font-size: 1em;
    top: 39%;
    left: 16px; } }
@media screen and (max-width: 480px) {
  .logo_pos {
    transform: scale(0.35);
    margin-left: -125px;
    margin-top: -210px; }

  .logo_home.logo_pos {
    margin-top: -50%;
    margin-left: -86px !important; }

  .y4y-main-header .header_font.sub {
    font-size: 0.7em;
    top: 37%;
    left: 15px; }

  #y4y-home .header_font {
    font-size: .9em !important;
    margin-left: -20px;
    margin-top: -20px; }

  #y4y-home .logo_pos {
    margin-left: -86px; } }
@media screen and (max-width: 390px) {
  .logo_pos {
    margin-top: -190px; }

  .y4y-main-header .header_font.sub {
    top: 31%; }

  #y4y-home .header_font {
    font-size: .8em !important;
    margin-top: -14px !important; }

  #y4y-home .logo_home.logo_pos {
    margin-top: -54%;
    margin-left: -95px; }

  .img-responsive {
    padding-top: 5px; } }
.img_header {
  margin-top: -60px; }

.y4y-main-header .img-responsive {
  width: 116%; }

#y4y-home .header_font {
  font-size: 1.3em; }

.sub_page_header_adjust {
  margin-top: 168px; }

.logo_pos222 {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 34%; }

.y4y-main-footer .col-sm-6 {
  min-height: 0px; }
.y4y-main-footer .color_p {
  padding: 38px 8px; }
.y4y-main-footer .last_footer {
  margin-bottom: 50px; }
.y4y-main-footer .footer_orange {
  min-height: 170px;
  padding: 40px; }
  .y4y-main-footer .footer_orange .adjust_small {
    text-align: center; }
  .y4y-main-footer .footer_orange .adjust_small {
    text-align: center; }
.y4y-main-footer .subscribe {
  width: 140px !important; }

.navbar-default {
  background-color: #000 !important; }

.navbar-default .navbar-collapse {
  border-color: #515151; }

.dropdown-menu .sub-menu {
  left: 100%; }

.navbar-default {
  position: absolute !important;
  top: -52px; }

.navbar-fixed-top .navbar-collapse {
  max-height: none !important; }

.navbar-default {
  max-height: none; }

.home_nav.navbar-default {
  max-height: none;
  margin-top: -55px; }

.navbar-default.home_nav {
  top: 0 !important; }

.navbar-default {
  font-size: 1em; }

.img_header {
  margin-top: -118px; }

.navbar-collapse.collapse.in .logo_pos {
  z-index: 0; }

#y4y-home section.no_section_pad {
  padding: inherit;
  margin-top: 173px; }

#y4y-home .y4y-main-header {
  margin-top: 0; }

.navbar-collapse {
  overflow: hidden;
  -ms-scroll-limit: 0 0 0 0;
  -ms-overflow-x: hidden; }

/*# sourceMappingURL=xsmall.css.map */
